/* 

.container_signin{
  min-height: 90.4vh;
  display: flex;
}

.container_contact{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 10%;
width: 40%;
gap: 5px;

padding: 20px;
border: 2px solid black;
border-radius: 7px;
margin: auto;
}

.container_input{
  display: flex;
  gap: 10px;
  
}

.controsl{
  border-radius: 5px;
  padding: 4px;
  width: 100%; */
/* } */


.container-signin{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-signup {
  width: 100px;
  height: 40px;
  padding: 5px;
  background-color: aquamarine;
  color: rgb(31, 30, 30);
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.submit-signin {
  width: 100px;
  height: 45px;
  background-color: darkslategrey;
  color: aliceblue;
  border: none;
  font-weight: 600;
  font-family: sans-serif;
}

.img-google {
  width: 20px;
  height: 20px;
}
.btn-google {
  display: flex;
  align-items: center;
  gap: 5px;
  border: solid 1px rgb(88, 146, 255);
  font-weight: 600;
  width: 100%;
  background-color: rgb(176, 255, 255);
  margin-top: 5px;
}

.input-signup {
  width: 90%;
  height: 30px;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-bottom: solid 1px black;
  outline: none;
}
.container-form {
  width: 44%;
  padding: 15px;
 /*  padding: 5px; */
  /* border: solid 2px  rgb(40, 119, 93);; */
  padding: 20px;
  height: 350px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
 /*  position: relative; */
}
.button_forn{
  display: flex;
  gap: 10px;
}

.container-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 35px;
  width: 200px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}


