.main_notfound{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
 color: white;
  min-height: 90.2vh;
  width: 100%;
  background-image: url(/public/error404.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.card_container{
  display: flex;
  flex-wrap: wrap;
}

