.flechad{
  font-size: 50px;
  cursor: pointer;
  background-color: inherit !important;
  color: aliceblue;
}
.flechai{
  font-size: 50px;
  cursor: pointer;
  background-color: inherit !important;
  color: aliceblue;
}


.container_flecha1{
  position: absolute;
  width: 90%;
  align-items: center;
  display: flex;
  justify-content: space-between;
 

}

@media screen and (max-width: 1044px){
  .flechai, .flechad {
    display: none;
  }

}