.container-admin {
    padding: 50px 0;
}

.title-card {
    font-family: sans-serif;
}



.cards {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}


.container-btn {
    display: flex;
    /*  padding: 15px; */
}

.card-show-show {
    /* height: 350px; */
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin-bottom: 0;
    position: relative;
}
.img_card_show {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.btn_edit {
    background-color: cadetblue;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    width: 50px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_delete {
    background-color: rgba(197, 58, 58, 0.836);
    color: aliceblue;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 25px;
}


.btn-new_show {
    width: 90px;
    padding: 5px;
    background-color: darkseagreen;
    color: white;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.container_comment {
    position: absolute;
    margin-bottom: -375px;
}

.btn_toggle_comment {
    width: 400px;
    background: linear-gradient( rgb(31, 108, 128), rgb(17, 116, 141), rgb(4, 93, 116));
    color: aliceblue;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 25px;
    border: none;
    cursor: pointer;
}

/* 
@media screen and (min-width: 768px){
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 960px){
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px){
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
} */