.call-to-action {
    text-decoration: none;
    padding: 10px 5px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-blue {
    background-color: royalblue;
    color: whitesmoke;
}

.bg-blue:hover {
    background-color: rgb(77, 92, 139);
}

.white-border_blue {
    background-color: white;
    border: solid 3px royalblue;
}

.white-border_blue:hover{
    background-color: darkcyan;
    color: azure;
    border: darkslateblue;
}