.bg-footer{
  height: 200px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  /* background-color: #8BC6EC; */
 /*  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
 background-color: #457b9d;
}
.linksFooter{
  color: white;
  text-decoration: none;
  display: flex;
  gap: 10px;
  font-size: 20px;
  font-family: serif;
}
.imgsocial img{
  width: 40px;
  height: 40px;
  margin-top: 10px;
  
}
.imgsocial{
  display: flex;
  gap: 10px;
}

.text-footer {
  font-family: sans-serif;
}

@media screen and (max-width:600px){
h3{
  padding: 5px;
  font-size: 20px;
}
}