.btn_toggle_comment {
    background: linear-gradient( rgb(31, 108, 128), rgb(17, 116, 141), rgb(4, 93, 116));
    color: aliceblue;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: inherit;
}